body { margin:0; 
  background-color: black;
}

.header {
  margin: 20px;
  border: solid 5px;
  padding: 200px;
}

.headerinside {
  text-align: center;
  vertical-align: middle;
  font-family: "Courier New", Courier, monospace;
  color: rgba(240, 109, 6, 1);
  font-size: 25px;
  
}

.inside {
  margin: 5px 25px;
  padding: 5px;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 20px;
}

.sectiontitle {
  border-style: none none none none;
  border-color: rgba(240, 109, 6, 1);
  border-width: 0px;
  padding: 0px;
  background-color: rgba(240, 109, 6, 1);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 20px;
}

.sectioninside {
  font-size: 18px;
  margin: 10px 15px;
  padding: 5px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: rgba(240, 109, 6, 1);
  font-size: 20px;
}

.footer {
  margin: 10px 15px;
  padding: 5px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: rgba(240, 109, 6, 1);
  font-size: 18px;
}

.fa-cog {
  color: rgba(240, 109, 6, 1);
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  font-size: 25px;
}

a:active {
  font-size: 25px;
  color: rgba(240, 109, 6, 1);
}

a:visited {
  color: white;
}
