.gridheader { grid-area: header; }
.gridmenu { grid-area: menu; }
.gridabout { grid-area: about; }
.gridfooter { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header'
    'about about about about about'
    'menu menu menu menu menu'
    'footer footer footer footer footer';
  grid-gap: 8px;
  background-color: rgba(0,0,0,1);
}

.grid-container > div {
  background-color: rgba(0,0,0, 1);
}

.header {
  margin: 20px;
  border: solid 5px;
  padding: 200px;
}

.headerinside {
  text-align: center;
  vertical-align: middle;
  font-family: "Courier New", Courier, monospace;
  color: rgba(240, 109, 6, 1);
  font-size: 25px;
  
}

.secinside {
  margin: 10px 15px;
  padding: 5px;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 20px;
}

.sectiontitle {
  border-style: none none none none;
  border-color: rgba(240, 109, 6, 1);
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: rgba(240, 109, 6, 1);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 20px;
}

.sectioninside {
  font-size: 18px;
  margin: 10px 15px;
  padding: 5px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: rgba(240, 109, 6, 1);
  font-size: 20px;
}

.footer {
  margin: 10px 15px;
  padding: 5px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: rgba(240, 109, 6, 1);
  font-size: 16px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  font-size: 25px;
}

a:active {
  font-size: 25px;
  color: rgba(240, 109, 6, 1);
}

a:visited {
  color: white;
}
