body, html { 
  height: 100%;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color:black;
}

.parallax {
  /* The image used */
  background-image: url("/picture/IMG_7664.JPG");

  /* Full height */
  min-height: 100%; 

  /* Create the parallax scrolling effect */ 
  position: relative;
  margin: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fa-blog {
  color: rgba(240, 109, 6, 1);
  size: 20px;
}

.fa-youtube{
  color: rgba(240, 109, 6, 1);
  size: 20px;
}

.fa-link{
  color: rgba(240, 109, 6, 1);
  size: 20px;
}

.fa-video{
  color: rgba(240, 109, 6, 1);
  size: 20px;
}

.fa-file-pdf{
  color: rgba(240, 109, 6, 1);
  size: 20px;
}

.fa-github{
  color: rgba(240, 109, 6, 1);
  size: 20px;
}

.fa-cog {
  color: rgba(240, 109, 6, 1);
  size: 20px
}

.checked {
  color: rgba(240, 109, 6, 1);
  size: 20px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgba(240, 109, 6, 1);
  font-weight: bold;
}

a:active {
  color: rgba(240, 109, 6, 1);
  font-weight: bold;
}

a:visited {
  color: rgba(240, 109, 6, 1);
}

img {
  max-width: 100%;
  border-radius: 8px;
  margin: 5px;
}

/* For width 500px and smaller (mobile) */
@media screen and (max-width: 500px) {
  h1 {
    text-align: center;
  }
  .parallax {
    background-attachment: scroll;
  }
  .picture {
    margin: 0px;
  }
  .footerdesktop {
  display: block
  }
  .footermobile {
  margin: 30px 15px 50px 15px;
  padding: 5px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: rgba(240, 109, 6, 1);
  font-size: 15px;
  }
}


/* For width 450px and larger (desktop) */
@media screen and (min-width:500px){
  h1 {
    text-align: center;
  }
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
  .flex-container .box2 {
    width: 35%;
    margin: 5px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-container .box1 {
    width: 65%;
    margin: 5px;
    align-items: center;
  } 
  .picture {
    margin: 5px 250px;
  }
  .footermobile {
  display: block
  }
  .footerdesktop {
  margin: 30px 15px 50px 15px;
  padding: 5px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: rgba(240, 109, 6, 1);
  font-size: 15px;
  }
}

/* For desktop */
@media screen and (max-width: 900px) and (min-width:500px) {
  .picture {
    margin: 5px 0px;
  }
}

 /* This is needed to target iPads in landscape and portrait mode when using PARALLAX */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 
  .parallax {
    background-attachment:scroll !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0px;
  }
}

.name {
  position: absolute;
  left: 0;
  bottom: 0%;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: rgba(240, 109, 6, 1);
  font-size: 50px;
  background-color: black;
  border: solid white;
  border-width: 15px 0px;
}

.header {
  padding-top:150px;
  padding-bottom:150px;
  text-align: center;
  vertical-align: middle;
  color: rgba(240, 109, 6, 1);
  font-size: 20px;
}

.inside {
  margin: 5px 25px;
  padding: 5px;
  text-align: left;
  color: white;
  font-size: 20px;
}

.sectiontitle {
  border-style: none none none none;
  border-color: rgba(240, 109, 6, 1);
  border-width: 0px;
  padding: 0px;
  background-color: rgba(240, 109, 6, 1);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 20px;
}

.sectioninside {
  font-size: 18px;
  margin: 10px 15px;
  padding: 5px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: rgba(240, 109, 6, 1);
  font-size: 20px;
}

.footer {
  margin: 30px 15px 50px 15px;
  padding: 5px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: rgba(240, 109, 6, 1);
  font-size: 15px;
}
